#block-user_import_og-0 h2.title {
display:none;
}

#block-user_import_og-0 {
padding:0px;
margin-left:123px;
width:145px;
}

#block-user_import_og-0 #user-import-og-add-existing-user-form #edit-user {
padding:0px;
}